{% extends 'base.html'%}

{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Portfolio David Dumas</title>
</head>

{% endblock %}

{% block content %}

<section id="titeloverzicht">
    <div class="container">
        <h1>Fashionstate</h1>

    </section>

    <section id="mainpp2">
   
        <h4>Project: Fashionstate (11-10-2018)</h4>

   <p><img src="{{ url_for('static',filename='/Afbeeldingen/fashionstate-groot.png') }}" width="700"></p>

    <h5>Beschrijving:</h5>

        <p>Eind 2018 studeerde ik bedrijfskunde aan de Hogeschool Utrecht. Ik was ontevreden met deze studie, grotendeels veroorzaakt door slechte docenten en ongemotiveerde medestudenten. Op een dag kwam mijn gepensioneerde vader Charles naar mij toe met het idee om te stoppen met school, en samen een bedrijfje te starten. Ik kon ongetwijfeld meer van hem leren, aangezien hij succesvol was in het bedrijfsleven. Samen kwamen wij met het idee om een kledingwinkel te starten, die handele als marktplaats voor tweedehands designerkleding. Fashionstate was het resultaat. De website is nog niet live, daar wordt nog aan gewerkt.</p>

        <p2>
            Het idee van fashionstate is om ervoor te zorgen dat mensen kleding hergebruiken. Het maken van kleding is vervuilend en onnodig. Kleding kan stijgen in waarde gebaseerd op zeldzaamheid. Aan de hand van dit principe bedacht ik dat er een handelsplaats moest zijn, waar mensen hun zelfdzame designerkleding konden verkopen. Het product kan geupload worden via de verkoopstappen op de website. De verkoper moet bepaalde kenmerken van het product kiezen, een beschrijving maken en vervolgens een prijs bepalen. Producten die na vier weken nog niet verkocht zijn, worden gedeactiveerd, en kunnen na aanpassing van de prijs weer geactiveerd worden.
        </p2>

        <br>
        <br>
        <br>

        <a href="/productoverzicht" class="button"> Terug</a>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</section>

{% endblock %}