{% extends 'base.html' %}

{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Portfolio David Dumas</title>

    <title>Login Pagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

{% endblock %}

{% block content%}

<html>
  <head>
  <body>
    <section id="login">
        <div class="container">
        <h1>Gebruikers login:</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="gebruikersnaam" name="username" value="{{
            request.form.username }}">
            <input type="password" placeholder="wachtwoord" name="password" value="{{
            request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
            <p class="error"><strong>Foutmelding:</strong> {{ error }}
        {% endif %}
        </div>
    </section>    
  </body>
</html>

{% endblock %}