{% extends 'base.html'%}

{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Portfolio David Dumas</title>
</head>

{% endblock %}

{% block content %}

<section id="productoverzicht">
    <div class="container">
        <h1>Product Overzicht</h1>

    </section>

    <section id="mainpp3">

        <h4>Project: Portfolio Wesbite (07-08-2020)</h4>

       <!-- <p><img src="{{ url_for('static',filename='/Afbeeldingen/screenportfolio.jpg') }}" width="500"></p> -->

        <h5>Korte beschrijving:</h5>

            <p>In Semester 1 (jaar 1) van Open-ICT werd de opdracht gegeven om een portfoliowebsite te maken waar de student al zijn/haar vaardigheden kon vertonen. Deze website moest bestaan uit meerder interactieve pagina's met een database. Ik heb gekozen om mijn website kalm en zakelijk te houden, omdat ik professionaliteit uit wil stralen.</p>


            <a href="/portoverzicht" class="button">Lees meer:</a>
    </section>

    <section id="mainpp4">
   
            <h4>Project: Fashionstate (11-10-2018)</h4>

    <!--    <p><img src="{{ url_for('static',filename='/Afbeeldingen/fashionstate-groot.png') }}" width="500"></p> -->

        <h5>Korte beschrijving:</h5>

            <p>Eind 2018 studeerde ik bedrijfskunde aan de Hogeschool Utrecht. Ik was ontevreden met deze studie, grotendeels veroorzaakt door slechte docenten en ongemotiveerde medestudenten. Op een dag kwam mijn gepensioneerde vader Charles naar mij toe met het idee om te stoppen met school, en samen een bedrijfje te starten. Ik kon ongetwijfeld meer van hem leren, aangezien hij succesvol was in het bedrijfsleven. Samen kwamen wij met het idee om een kledingwinkel te starten, die handele als marktplaats voor tweedehands designerkleding. Fashionstate was het resultaat. De website is nog niet live, daar wordt nog aan gewerkt.</p>

            <a href="/fashoverzicht" class="button">Lees meer:</a>
<br>
<br>
<br>
<br>

    </section>




{% endblock %}